.btn {
    display:inline-block;
    font-weight:300;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    user-select:none;
    border:1px solid transparent;
    border-radius:4px;
    padding:12px 16px;
    font-size:14px;
    line-height:14px;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
} 
.btn-primary {
    color:#fff;
    background:#cb1c22;
    outline:none
} 
.btn-primary:active {
    outline:none;
    box-shadow:0 0 0 .2rem #cb1c22
} 
.btn-primary:hover {
    background:#ae1427
} 
.btn-primary:disabled {
    background:#df564f
} 
.btn-primary.btn-disable {
    background:#df564f;
    pointer-events:none
} 
.btn-primary:disabled {
    background:#df564f
} 
.btn-outline-primary {
    color:#cb1c22;
    border:1px solid #cb1c22
} 
.btn-outline-primary:hover {
    color:#fff;
    background:#cb1c22
} 
.btn-outline-primary:active {
    outline:none;
    box-shadow:0 0 0 .2rem #cb1c22
} 
.btn-sm {
    padding:10px 16px;
    font-size:13px;
    line-height:13px
} 
    
a1 {
    cursor:pointer
} 
.card {
    position:relative;
    /* display:flex; */
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border-radius:6px;
    box-shadow:0 0 3px 0 #dee2e6
} 
.card>hr {
    margin-right:0;
    margin-left:0
} 
.card>.list-group:first-child .list-group-item:first-child {
    border-top-left-radius:4px;
    border-top-right-radius:4px
} 
.card>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px
} 
.card-body {
    position:relative
} 
.card-body {
    flex:1 1 auto;
    padding:15px
} 
.card-title {
    font-size:17px;
    line-height:17px;
    font-weight:500;
    margin-bottom:10px
} 
.card-subtitle {
    font-size:14px;
    line-height:17px;
    font-weight:500;
    margin-top:-4.5px;
    margin-bottom:8px
} 
.card-text {
    font-size:14px;
    line-height:21px;
    margin-bottom:10px
} 
.card-text:last-child {
    margin-bottom:0
} 
.card-link:hover {
    text-decoration:none
} 
.card-link+.card-link {
    margin-left:15px
} 
.card-header {
    padding:15px;
    margin-bottom:0;
    background-color:#fff;
    box-shadow:inset 0 -1px 0 0 #e9ecef
} 
.card-header:first-child {
    border-top-left-radius:6px;
    border-top-right-radius:6px
} 
.card-header+.list-group .list-group-item:first-child {
    border-top:0
} 
.card-img {
    width:100%;
    border-radius:calc(4px - 1px)
} 
.card-img-top {
    width:100%;
    border-top-left-radius:calc(4px - 1px);
    border-top-right-radius:calc(4px - 1px)
} 
.card-img-bottom {
    width:100%;
    border-bottom-right-radius:calc(4px - 1px);
    border-bottom-left-radius:calc(4px - 1px)
}
.typography-title {
    margin-top: 30px;
    font-size: 28px;
    line-height: 1.3;
    font-weight: 600;
    color: #000;
    text-align: left;
}
.Sac_du_phong,.The_nho,.Dan_man_hinh,.Tai_nghe,
.Loa,.USB,.Cap_sac,.Chuot,.Ban_phim,.Balo,.Muc_in,.Router,.Phu_kien_khac {
    display: none
}
.header_banner {background-color: #25845B;}

/* mobile: width <740px */
@media only screen and (max-width: 759px){
    .section-accessories .card-header {
        padding: 0 !important;
    }

    .typography-title {
        font-size: 22px;
    }
    .card-body {
        padding: 0;
    }
}

/* tablet: width >= 740px and width <= 1024px */
@media only screen and (min-width: 760px) and (max-width: 1150px){

    
}
