#app>section {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
    min-width: 0;
}
section {
    margin-top: 0 !important;
}
section {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.cartempty, .cartempty i {
    display: block;
    overflow: hidden;
}
.cartempty {
    margin-top: 100px;
}
.cartempty i {
    margin: auto;
}
.cartnew-empty {
    background-position: 0 -98px;
    width: 70px;
    height: 55px;
}
.icon_repair,.icon_cancelcart {
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 30px;
    vertical-align: middle;
    
}

.cartempty span {
    color: #000;
}
.cartempty .backhome, .cartempty span {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}
.cartempty .backhome {
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #288ad6;
    margin: 0 10px;
    color: #288ad6;
}
.cartempty p {
    display: block;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    color: #000;
}
.cartempty p a {
    color: #288ad6;
    font-size: 16px;
}
