.yourCart {
    display:block;
    overflow:hidden
}
.yourCart>span{
    float:right;
    color: #000;
    padding:9px 10px
}
.buymore{
    float:left;
    overflow:hidden;
    font-size:14px;
    color:#288ad6;
    line-height:16px;
    padding:10px
}
.buymore:before{
    content:"";
    width:8px;
    height:8px;
    border-top:1px solid #288ad6;
    border-left:1px solid #288ad6;
    display:inline-block;
    vertical-align:middle;
    margin:0 3px 2px 0;
    transform:rotate(-45deg)
}
.listing-cart{
    display:flex;
    flex-flow:column wrap
}
.listing-cart .product-item:not(:first-child){
    border-top:1px solid #e1e1e1
}
.listing-cart .product-item{
    display:block;
    padding:10px 30px;
    width:100%;
    box-sizing:border-box
}
.listing-cart .product-item .imgsp{
    float:left;
    width:16%
}
.listing-cart .imgsp a,.listing-cart .imgsp a img{
    display:block;
    overflow:hidden
}
.listing-cart .imgsp a img{
    width:75px;
    margin:auto
}
.listing-cart .imgsp button{
    display:block;
    overflow:hidden;
    margin:15px auto 0;
    border:0;
    background:#fff;
    color:#999;
    font-size:12px;
    cursor:pointer
}
.listing-cart .imgsp button span{
    float:left;
    background:#ccc;
    border-radius:50%;
    width:12px;
    height:12px;
    position:relative;
    margin:2px 3px 0 0
}
.listing-cart .imgsp button span:after,.listing-cart .imgsp button span:before{
    content:"";
    width:2px;
    height:8px;
    background:#fff;
    position:absolute;
    transform:rotate(45deg);
    top:2px;
    left:5px
}
.listing-cart .imgsp button span:after{
    transform:rotate(-45deg)
}
.listing-cart .product-item .infosp{
    display:block;
    margin-left:95px
}
.listing-cart .infosp .name-price{
    display:block
}
.listing-cart .name-price a{
    float:left;
    width:70%;
    font-size:14px;
    color:#333;
    font-weight:700;
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    text-overflow:ellipsis;
    overflow:hidden
}
.listing-cart .name-price span{
    float:right;
    color:#f30c28;
    font-size:14px;
    text-align:right;
    margin-bottom:2px
}
.listing-cart .name-price span strike{
    display:block;
    overflow:hidden;
    color:#666
}
.listing-cart .promo{
    display:block;
    overflow:hidden;
    width:75%
}
.listing-cart .promo label{
    display:block;
    overflow:hidden;
    color:#288ad6;
    font-size:12px;
    padding:8px 0 0;
    cursor:pointer
}
.listing-cart .promo label.active:after{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg)
}
.listing-cart .promo label:after{
    content:"";
    border-top:6px solid #288ad6;
    border-right:6px solid transparent;
    border-left:6px solid transparent;
    display:inline-block;
    vertical-align:middle;
    margin-left:5px
}
.listing-cart .promo small{
    display:none;
    overflow:hidden;
    font-size:12px;
    color:#666;
    padding:6px 0 0 10px
}
.listing-cart .promo small b{
    color:#d52320
}
.listing-cart .promo small:before{
    content:"\2022";
    color:#d8d8d8;
    display:inline-block;
    vertical-align:middle;
    margin:0 3px 0 -7px
}
.listing-cart .promo small.active{
    display:block
}
.listing-cart .promo span{
    display:block;
    overflow:hidden;
    color:#666;
    font-size:12px;
    padding:8px 0 0
}
.listing-cart .choose-color{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    position:relative
}
.listing-cart .choose-color label{
    float:left;
    color:#288ad6;
    font-size:12px;
    padding:6px 0 0;
    cursor:pointer
}
.listing-cart .choose-color label:after{
    content:"";
    border-top:6px solid #288ad6;
    border-right:6px solid transparent;
    border-left:6px solid transparent;
    display:inline-block;
    vertical-align:middle;
    margin-left:5px
}
.listing-cart .choose-color aside>span{
    float:left;
    color:#666;
    font-size:12px;
    padding:6px 0 0
}
.listing-cart .choose-color .sg-color{
    position:absolute;
    top:30px;
    left:-35px;
    width:210px;
    padding:0 10px;
    background:#fff;
    border:1px solid #d8d8d8;
    z-index:1;
    border-radius:4px;
    box-sizing:border-box;
    box-shadow:0 4px 4px rgba(0,0,0,.25)
}
.listing-cart .choose-color .sg-color.active{
    display:block
}
.listing-cart .choose-color .sg-color:before{
    content:"";
    width:10px;
    height:10px;
    background:#fff;
    border-top:1px solid #d8d8d8;
    border-right:1px solid #d8d8d8;
    transform:rotate(-45deg);
    position:absolute;
    display:block;
    top:-6px;
    left:70px
}
.listing-cart .choose-color .sg-color .select-color{
    display:block;
    overflow:hidden;
    padding:10px 0;
    border-bottom:1px solid #ddd;
    cursor:pointer
}
.listing-cart .choose-color .sg-color .select-color:last-child{
    border-bottom:0
}
.listing-cart .choose-color .select-color img{
    display:inline-block;
    vertical-align:middle;
    width:30px
}
.listing-cart .choose-color .select-color small{
    display:inline-block;
    vertical-align:middle;
    font-size:14px;
    color:#288ad6;
    margin-left:8px
}
.listing-cart .choose-color .select-color.active small{
    font-weight:600
}
.listing-cart .product-item .morecolor{
    display:block;
    overflow:hidden;
    width:100%;
    padding:15px 0 0
}
.listing-cart .product-item .morecolor i{
    float:left;
    margin:2px 4px 0 0
}
.listing-cart .product-item .morecolor i.active{
    background-position:-101px 0
}
.listing-cart .product-item .morecolor span{
    display:inline-block;
    vertical-align:middle;
    font-size:14px;
    cursor:pointer
}
.listing-cart .product-item .morecolor .listColor{
    display:none;
    border:1px solid #ddd;
    border-radius:4px;
    padding:10px;
    margin-top:8px;
    position:relative
}
.listing-cart .product-item .morecolor .listColor.active{
    display:block
}
.listing-cart .product-item .morecolor .listColor:before{
    content:"";
    width:10px;
    height:10px;
    border-top:1px solid #ddd;
    border-right:1px solid #ddd;
    background:#fff;
    transform:rotate(-45deg);
    display:block;
    position:absolute;
    top:-6px;
    left:30px
}
.listColor .chooseColor,.listColor p{
    display:block;
    overflow:hidden
}
.listColor .chooseColor .boxColor{
    float:left;
    width:10%;
    margin:2% 2% 0 0;
    cursor:pointer
}
.listColor .chooseColor .boxColor:nth-child(4n+4){
    margin-right:0
}
.listColor .boxColor .imgColor{
    display:block;
    overflow:hidden;
    border:1px solid #ddd;
    border-radius:4px;
    padding:5px 0
}
.listColor .boxColor.active .imgColor{
    border:1px solid #4a90e2
}
.listColor .chooseColor .imgColor img{
    display:block;
    overflow:hidden;
    margin:auto;
    width:40px;
    height:40px
}
.listing-cart .listColor .boxColor i{
    display:block;
    margin:5px auto;
    float:unset
}
.listing-cart .listColor .boxColor.active i{
    background-position:-101px 0
}
.listing-cart .listColor .chooseColor span{
    display:block;
    overflow:hidden;
    text-align:center;
    font-size:13px
}
.area-total,.area-total .discountcode{
    display:block;
    overflow:visible
}
.area-total .discountcode{
    margin-bottom:20px;
    position:relative
}
.area-total .discountcode .usecode{
    position:relative;
    padding:10px;
    cursor:pointer;
    width:calc(50% - 5px);
    border-radius:4px;
    float:left;
    text-align:left;
    border:1px solid #e0e0e0;
    display:flex;
    align-items:center;
    min-height:58px
}
.area-total .discountcode .usecode .usecode__icon{
    display:flex;
    justify-content:center;
    width:23px;
    flex-direction:row-reverse
}
.area-total .discountcode .usecode.appliedCoupon{
    border:1px solid #2f80ed
}
.area-total .discountcode .appliedCoupon.usecode.coupon-code:after{
    border-top:6px solid #2f80ed
}
.area-total .discountcode .usecode.coupon-code{
    margin-right:10px
}
.area-total .discountcode .usecode.singlebox{
    width:auto;
    min-height:auto
}
.area-total .discountcode .usecode.singlebox .usecode__title{
    margin-right:25px;
    color: #000;
}
.area-total .discountcode .usecode.coupon-code.active:after{
    transform:rotate(180deg)
}
.area-total .discountcode .usecode.coupon-code:after{
    content:"";
    border-top:6px solid #000;
    border-right:6px solid transparent;
    border-left:6px solid transparent;
    display:inline-block;
    vertical-align:middle;
    margin:0 auto;
    position:absolute;
    right:10px
}
.area-total .discountcode .usecode.coupon-code.active:before{
    content:"";
    width:10px;
    height:10px;
    border-top:1px solid #f1f1f1;
    border-right:1px solid #f1f1f1;
    background:#f1f1f1;
    transform:rotate(-45deg);
    display:block;
    position:absolute;
    bottom:-18px;
    left:85px
}
.area-total .discountcode .usecode span{
    display:inline-block;
    vertical-align:middle;
    overflow:hidden;
    font-size:14px;
    margin-left:10px;
    text-align:left
}
.area-total .discountcode .usecode .usecode__guide{
    color:#288ad6;
    margin-left:5px
}
.area-total .discountcode .usecode.active .usecode__title:after{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg)
}
.area-total .discountcode .usecode.warningLoyalty{
    border:1px solid #fb6e2e
}
.area-total .discountcode .usecode.applied{
    border:1px solid #2f80ed
}
.area-total .discountcode .applycode{
    display:none;
    overflow:hidden;
    background:#f1f1f1;
    padding:12px
}
.area-total .discountcode .applycode.active{
    display: inline-block;
    margin: 10px 0 0;
    padding: 10px;
    width: 100%;
    overflow: visible;
}
.area-total .discountcode .coupon .applycode{
    overflow:hidden
}
.area-total .discountcode .applycode input{
    float:left;
    width:74%;
    border:1px solid #c6c6c6;
    border-radius:4px;
    padding:10px;
    text-indent:5px;
    color:#666
}
.area-total .discountcode .applycode input:focus{
    border:1px solid #fc9639;
    box-shadow:0 0 4px #fc9639
}
.area-total .discountcode .applycode button{
    float:right;
    width:20%;
    border:1px solid #288ad6;
    background:#288ad6;
    color:#fff;
    text-align:center;
    padding:10px;
    border-radius:4px;
    cursor:pointer
}
.area-total .discountcode .applycode button.disabled{
    border:1px solid #bdbdbd;
    background:#bdbdbd;
    color:#fff
}
.area-total .discountcode .applycode small{
    display:block;
    overflow:hidden;
    color:#dd4b39;
    font-size:12px;
    width:100%;
    padding:5px 0;
    text-align:left
}
.total-provisional{
    display:block;
    overflow:hidden;
    padding:10px 30px
}
.total-provisional>span{
    float:left;
    color:#333
}
.total-provisional>span:nth-child(2){
    float:right
}
.area-total>.loyal-point-message.add-warning{
    margin-bottom:0
}
.area-total .promotion{
    display:block;
    overflow:hidden;
    margin-bottom:10px
}
.area-total .promotion span{
    float:left;
    color:#333
}
.area-total .promotion span:nth-child(2){
    float:right
}
.area-total .appliedcode{
    display:block;
    padding-top:10px;
    position:relative
}
.area-total .appliedcode.active{
    display:none
}
.area-total .appliedcode span{
    float:left;
    color:#333
}
.area-total .appliedcode span b{
    font-weight:400;
    color:#288ad6;
    cursor:pointer
}
.area-total .appliedcode .reduced-price,.area-total .km-combo .combo-discount-price{
    float:right;
    position:relative
}
.area-total .appliedcode .reduced-price i,.area-total .km-combo .combo-discount-price i{
    float:left;
    margin:2px 2px 0 0;
    cursor:pointer
}
.area-total .appliedcode .reduced-price span,.area-total .km-combo .combo-discount-price span{
    display:block;
    overflow:hidden;
    color:#333
}
.area-total .appliedcode .reduced-detail,.area-total .km-combo .combo-promotion{
    position:absolute;
    top:25px;
    right:0;
    width:350px;
    padding:10px;
    background:#fff;
    border:1px solid #e0e0e0;
    box-shadow:0 2px 4px rgba(0,0,0,.5);
    border-radius:4px;
    z-index:1
}
.area-total .appliedcode .reduced-detail.active,.area-total .km-combo .combo-promotion.active{
    display:block
}
.area-total .appliedcode .reduced-price i.active:after,.km-combo .combo-discount-price i.active:after{
    content:"";
    width:10px;
    height:10px;
    border-top:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    background:#fff;
    transform:rotate(-45deg);
    position:absolute;
    top:20px;
    z-index:2
}
.area-total .appliedcode .reduced-detail .rowname,.area-total .km-combo .combo-promotion .rowname{
    display:block;
    overflow:hidden;
    padding:3px 0
}
.area-total .appliedcode .rowname span,.area-total .km-combo .rowname span{
    float:left;
    color:#333;
    padding:0;
    width:50%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.area-total .appliedcode .rowname span:nth-child(2),.area-total .km-combo .rowname span:nth-child(2){
    float:right;
    width:35%;
    text-align:right
}
.area-total .appliedcode .rowname small,.area-total .km-combo .rowname small{
    float:left;
    margin-left:5%;
    color:#666;
    font-size:12px;
    float:inherit
}
.area-total .appliedcode .reduced-detail .rowprice{
    display:block;
    overflow:hidden;
    padding:10px 0 0
}
.area-total .appliedcode .rowprice span,.area-total .km-combo .rowcoupon span,.area-total .km-combo .rowprice span{
    float:left;
    color:#333;
    padding:0
}
.area-total .appliedcode .rowprice span:nth-child(2),.area-total .km-combo .rowcoupon span:nth-child(2),.area-total .km-combo .rowprice span:nth-child(2){
    float:right
}
.area-total .appliedcode .reduced-detail .rowdecrease,.area-total .km-combo .combo-promotion .rowdecrease{
    display:block;
    overflow:hidden;
    padding:10px 0 0
}
.area-total .appliedcode .rowdecrease strong,.area-total .km-combo .rowdecrease strong{
    float:left;
    color:#333
}
.area-total .appliedcode .rowdecrease strong:nth-child(2),.area-total .km-combo .rowdecrease strong:nth-child(2){
    float:right;
    color:#d0021b
}
.area-total .km-combo{
    display:block;
    position:relative;
    clear:both;
    padding-top:10px
}
.area-total .km-combo .combo-promotion .rowcoupon{
    display:block;
    overflow:hidden;
    padding:10px 0 0 0
}
.area-total .km-combo .combo-promotion .rowprice{
    display:block;
    overflow:hidden;
    padding:10px 0
}
.area-total .fee-deli{
    display:block;
    overflow:hidden;
    padding:10px 0 0;
    width:100%
}
.area-total .fee-deli span{
    float:left;
    color:#333
}
.area-total .fee-deli span:nth-child(2){
    float:right
}
.area-total .txt-bottom{
    display:block;
    padding:10px 0 0
}
.area-total .txt-bottom .txt01{
    float:left;
    width:70%
}
.area-total .txt-bottom .txt02{
    float:right;
    text-align:right;
    width:30%
}
.area-total .total-price{
    display:block;
    overflow:hidden;
    padding:10px 0 10px;
    width:100%
}
.area-total .line-break{
    border-top:1px solid #d1d1d1;
    position:absolute;
    width:calc(100% + 60px);
    left:-30px;
    bottom:-20px
}
.area-total .total-price strong{
    float:left;
    color:#333
}
.area-total .total-price strong:nth-child(2){
    float:right;
    color:#f30c28
}
.infor-customer{
    display:block;
    overflow:hidden;
    border-top:1px solid #d1d1d1;
    padding:10px 30px
}
.infor-customer h4{
    display:block;
    overflow:hidden;
    font-size:14px;
    text-transform:uppercase;
    color:#333
}
.infor-customer .infor{
    display:block;
    overflow:hidden;
    padding:10px 0
}
.infor-customer .infor.active{
    display:none
}
.infor-customer .infor span{
    vertical-align:middle;
    color:#333;
    margin-right:10px
}
.infor-customer .infor span:nth-child(2){
    color:#288ad6;
    cursor:pointer
}
.infor-customer .form-customer{
    display:none;
    overflow:hidden;
    padding:10px 0 0
}
.infor-customer .form-customer.active{
    display:block
}
.form-customer .sex-customer{
    display:block;
    overflow:hidden
}
.form-customer .sex-customer span{
    display:inline-block;
    vertical-align:middle;
    font-size:14px;
    color:#333;
    margin-right:15px;
    cursor:pointer
}
.form-customer .sex-customer span i{
    display:inline-block;
    vertical-align:top;
    margin:2px 2px 0 0
}
.form-customer .sex-customer span.active i{
    background-position:0 0
}
.form-customer .sex-customer small{
    display:inline-block;
    vertical-align:middle;
    color:#dd4b39;
    font-size:12px
}
.form-customer .fillinform{
    display:block;
    overflow:hidden;
    padding:10px 0
}
.form-customer .fillinform .fillname{
    float:left;
    width:49%;
    margin:0 1% 0 0
}
.form-customer .fillinform .fillname input{
    display:block;
    overflow:hidden;
    border:1px solid #d1d1d1;
    border-radius:4px;
    padding:10px;
    color:#333;
    box-sizing:border-box;
    width:100%
}
.form-customer .fillinform .fillname input:focus{
    border:1px solid #fc9639;
    box-shadow:0 0 4px #fc9639
}
.form-customer .fillinform .fillname span{
    display:block;
    overflow:hidden;
    padding-top:5px;
    color:#dd4b39;
    font-size:12px
}
.form-customer .fillinform .fillname:nth-child(2){
    float:right;
    margin-right:0
}
.choosegetgoods{
    display:block;
    padding:0 30px
}
.choosegetgoods h4{
    display:block;
    overflow:hidden;
    text-transform:uppercase
}
.choosegetgoods h4 b{
    display:block;
    overflow:hidden;
    text-transform:none;
    padding:0 0 10px
}
.choosegetgoods .click-choose{
    display:block
}
.choosegetgoods .click-choose .choose-link{
    background:none;
    color:#333;
    display:inline-block;
    vertical-align:middle;
    padding:10px 20px 10px 0;
    position:relative;
    cursor:pointer
}
.choosegetgoods .click-choose .choose-link.current:after{
    content:"";
    width:10px;
    height:10px;
    border-top:1px solid #e1e1e1;
    border-right:1px solid #e1e1e1;
    background:#f6f6f6;
    transform:rotate(-45deg);
    display:block;
    position:absolute;
    bottom:-6px;
    left:70px
}
.choosegetgoods .click-choose .choose-link.current i{
    background-position:0 0
}
.choosegetgoods .choose-content{
    display:none;
    background:#f6f6f6;
    padding:10px 10px;
    border:1px solid #e1e1e1
}
.choosegetgoods .choose-content.current{
    display:inherit!important
}
.choosegetgoods .deli-address{
    display:block
}
.choosegetgoods .deli-address .text-address{
    display:block;
    overflow:hidden
}
.choosegetgoods .deli-address .text-address.active{
    display:none
}
.choosegetgoods .deli-address .text-address i{
    float:left;
    margin:3px 4px 0 0;
    background-position:0 0
}
.choosegetgoods .deli-address .text-address span{
    display:-webkit-box;
    color:#333;
    margin-bottom:5px;
    line-height:20px;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    text-overflow:ellipsis;
    overflow:hidden
}
.choosegetgoods .deli-address .text-address small{
    display:block;
    overflow:hidden;
    color:#288ad6;
    padding:0 0 10px 18px;
    font-size:14px;
    cursor:pointer
}
.choosegetgoods .deli-address form{
    display:none
}
.choosegetgoods .deli-address form.active{
    display:block;
    margin-bottom:15px
}
.choosegetgoods .deli-address form p{
    display:block;
    overflow:hidden;
    color:#333
}
.choosegetgoods .deli-address form small{
    display:block;
    overflow:hidden;
    color:#dd4b39;
    font-size:12px;
    padding-top:5px;
    margin-left:3px
}
.cntry-district{
    position:relative;
    float:left;
    width:100%
}
.cntry-district .btn-click{
    float:left;
    width:49%;
    margin:2% 1% 2% 0;
    display: block;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    background: #fff;
    text-align: left;
    color: #288ad6;
    position: relative;
    cursor: pointer;
}
.cntry-district .btn-click option {
    display: block;
    overflow: hidden;
    padding: 6px;
    color: #288ad6;
    margin: 0 5px 5px 0;
    max-width: 150px;
}
.cntry-district .btn-click:nth-child(2){
    margin-right:0;
    float:right
}
.cntry-district .btn-click button{
    display:block;
    padding:10px;
    border:1px solid #d1d1d1;
    border-radius:4px;
    width:100%;
    background:#fff;
    text-align:left;
    color:#288ad6;
    position:relative;
    cursor:pointer
}
.cntry-district .btn-click button:after{
    content:"";
    border-top:6px solid #288ad6;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    position:absolute;
    right:10px;
    top:18px
}
.cntry-district .btn-click button:before{
    content:"";
    width:8px;
    height:8px;
    background:#fff;
    border-top:1px solid #d1d1d1;
    border-left:1px solid #d1d1d1;
    transform:rotate(45deg);
    display:block;
    position:absolute;
    bottom:-12px;
    left:30px;
    z-index:2;
    display:none
}
.cntry-district .district button:before{
    right:30px;
    left:unset
}
.cntry-district .btn-click button.active:before{
    display:block
}
.cntry-district .btn-click button.active:after{
    transform:rotate(180deg)
}
.cntry-district .btn-click button.is-loading:after{
    content:"";
    width:14px;
    height:14px;
    border:1px solid #288ad6;
    background:#288ad6;
    border-radius:50%;
    float:right;
    transform:scale(0);
    -webkit-animation:yx 1s ease 0ms infinite;
    animation:yx 1s ease 0ms infinite;
    box-shadow:0 2px 2px 0 rgba(0,0,0,.1);
    border-top:unset!important;
    border-right:unset!important;
    border-left:unset!important;
    position:unset!important;
    right:unset!important;
    top:unset!important}@-webkit-keyframes yx{
    50%{
    transform:scale(1);
    opacity:1}to{
    opacity:0}}@keyframes yx{
    50%{
    transform:scale(1);
    opacity:1}to{
    opacity:0}
}
.cntry-district .btn-click .select{
    position:absolute;
    top:56px;
    left:0;
    right:0;
    border:1px solid #d1d1d1;
    border-radius:4px;
    background:#fff;
    z-index:1;
    padding:0 10px;
    width:-webkit-max-content;
    width:-moz-max-content;
    width:max-content
}
.cntry-district .btn-click.district .select{
    right:0;
    left:unset
}
.cntry-district .btn-click .select.active{
    display:block
}
.cntry-district .btn-click .select .boxsearch{
    position:relative;
    display:block;
    margin:10px 0
}
.cntry-district .btn-click .boxsearch a{
    padding:10px;
    position:absolute;
    right:0;
    top:0}#tab-1 .only-at-store__title{
    display:block;
    text-transform:uppercase;
    margin-bottom:5px}
    #tab-2 .cntry-district .btn-click .select .boxsearch{
    margin:0}
    #tab-2 .cntry-district .btn-click .boxsearch a{
    top:10px}
    #tab-2 .only-at-store__title{
    display:block;
    margin-bottom:5px;
    text-transform:uppercase
}
.cntry-district .listName{
    display:block;
    overflow-y:scroll;
    max-height:190px
}
.cntry-district .listName aside{
    min-width:140px
}
.cntry-district .select input{
    margin:10px 0;
    border:1px solid #d1d1d1;
    padding:10px;
    border-radius:4px;
    width:100%;
    box-sizing:border-box
}
.cntry-district .select aside{
    float:left;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content;
    overflow:hidden
}
.cntry-district .select aside span{
    display:block;
    overflow:hidden;
    padding:6px;
    color:#288ad6;
    margin:0 5px 5px 0;
    max-width:150px
}
.cntry-district .select span.active{
    background:#288ad6;
    color:#fff
}
.cntry-district .select span:not(.active):hover{
    background:#5897fb;
    color:#fff
}
.deli-address form .wards{
    float:left;
    width:49%;
    margin:0 2% 2% 0;
    position:relative
}
.wards .listName{
    display:block;
    flex-flow:row wrap;
    overflow-y:scroll;
    max-height:190px
}
.wards .listName aside{
    float:left;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content;
    overflow:hidden;
    min-width:140px
}
.deli-address .wards button{
    display:block;
    background:#fff;
    border:1px solid #d1d1d1;
    color:#288ad6;
    border-radius:4px;
    padding:10px;
    width:100%;
    position:relative;
    text-align:left;
    cursor:pointer
}
.deli-address .wards.disable button{
    background:#f5f5f5
}
.deli-address .wards button:before{
    content:"";
    width:8px;
    height:8px;
    background:#fff;
    border-top:1px solid #d1d1d1;
    border-left:1px solid #d1d1d1;
    transform:rotate(45deg);
    display:block;
    position:absolute;
    bottom:-12px;
    left:30px;
    z-index:2;
    display:none
}
.deli-address .wards button.active:before{
    display:block
}
.deli-address .wards button:after{
    content:"";
    border-top:6px solid #288ad6;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    position:absolute;
    right:10px;
    top:18px
}
.deli-address .wards button.active:after{
    transform:rotate(180deg)
}
.deli-address .wards button.is-loading:after{
    content:"";
    width:14px;
    height:14px;
    border:1px solid #288ad6;
    background:#288ad6;
    border-radius:50%;
    float:right;
    transform:scale(0);
    -webkit-animation:yx 1s ease 0ms infinite;
    animation:yx 1s ease 0ms infinite;
    box-shadow:0 2px 2px 0 rgba(0,0,0,.1);
    border-top:unset!important;
    border-right:unset!important;
    border-left:unset!important;
    position:unset!important;
    right:unset!important;
    top:unset!important}form .wards .select input{
    margin:10px 0
}
.deli-address .wards .select{
    position:absolute;
    left:0;
    right:0;
    border:1px solid #d1d1d1;
    border-radius:4px;
    background:#fff;
    z-index:1;
    margin-top:6px;
    padding:0 10px;
    width:-webkit-max-content;
    width:-moz-max-content;
    width:max-content
}
.deli-address .wards .select.active{
    display:block
}
.deli-address .wards aside span.active{
    background:#288ad6;
    color:#fff
}
.deli-address .wards .select span{
    display:block;
    overflow:hidden;
    padding:6px;
    cursor:pointer;
    color:#288ad6;
    margin:0 5px 5px 0
}
.deli-address .wards .select span.active{
    background:#288ad6;
    color:#fff
}
.deli-address .wards .select span:not(.active):hover{
    background:#5897fb;
    color:#fff
}
.wards .select .boxsearch{
    position:relative;
    display:block
}
.wards .select .boxsearch a{
    padding:10px;
    position:absolute;
    right:0;
    top:0
}
.deli-address form .filladdress{
    display:block;
    overflow:hidden;
    width:100%
}
.deli-address form .filladdress input{
    margin:0
}
.deli-address form .filladdress input:focus{
    border:1px solid #fc9639;
    box-shadow:0 0 4px #fc9639
}
.deli-address form input{
    display:block;
    overflow:hidden;
    background:#fff;
    border:1px solid #d1d1d1;
    border-radius:4px;
    padding:10px;
    margin:1.7% 0;
    width:100%;
    box-sizing:border-box
}
.deli-address .latch-order{
    display:block;
    padding-top:10px;
    border-top:1px solid #e1e1e1;
    position:relative
}
.deli-address .latch-order label{
    display:block;
    overflow:hidden;
    padding:0 0 10px;
    width:100%
}
.deli-address .latch-order label.package-delivery{
    position:relative;
    overflow:visible
}
.deli-address .latch-order label>span{
    display:inline-block;
    vertical-align:middle;
    margin-right:5px;
    cursor:pointer
}
.deli-address .latch-order label>span i{
    display:inline-block;
    vertical-align:middle;
    margin:0 0 2px 0
}
.deli-address .latch-order label>i{
    position:relative;
    margin-bottom:2px
}
.deli-address .latch-order label>i.active:after{
    content:"";
    width:10px;
    height:10px;
    border-top:1px solid #2f80ed;
    border-right:1px solid #2f80ed;
    background:#2f80ed;
    transform:rotate(-45deg);
    display:block;
    position:absolute;
    top:18px;
    left:1px;
    z-index:2
}
.deli-address .latch-order .group-deliverry-tooltip{
    position:absolute;
    top:25px;
    left:20%;
    width:240px;
    padding:10px;
    background:#fff;
    border:1px solid #2f80ed;
    box-shadow:0 2px 4px rgb(0 0 0/50%);
    border-radius:4px;
    z-index:1;
    font-size:12px;
    color:#fff;
    background:#2f80ed;
    border-radius:6px
}
.choose-address{
    width:100%;
    box-sizing:border-box;
    margin-bottom:10px
}
.choose-address,.choose-address ul{
    display:block;
    overflow:hidden
}
.choose-address ul.active{
    max-height:120px;
    overflow-y:scroll
}
.choose-address ul li{
    display:block;
    overflow:hidden;
    padding:5px 0;
    cursor:pointer
}
.choose-address ul li i{
    float:left;
    margin:2px 8px 0 0
}
.choose-address ul li.active i{
    background-position:0 0
}
.choose-address ul li span{
    display:block;
    overflow:hidden
}
.choose-address li span .cohang{
    color:#10a702;
    font-size:12px
}
.choose-address li span em{
    margin:0 4px 0 0
}
.choose-address li span .delay{
    color:#e67e22;
    font-size:12px
}
.choose-address a{
    display:block;
    overflow:hidden;
    color:#288ad6
}
.choose-address a:after{
    content:"";
    border-top:6px solid #288ad6;
    border-right:6px solid transparent;
    border-left:6px solid transparent;
    display:inline-block;
    vertical-align:middle;
    margin-left:5px
}
.anotheroption{
    display:block;
    border-bottom:1px solid #d1d1d1;
    padding:20px 30px
}
.anotheroption input{
    display:block;
    overflow:hidden;
    border:1px solid #d1d1d1;
    border-radius:4px;
    padding:10px;
    width:100%;
    box-sizing:border-box;
    margin-bottom:7px
}
.anotheroption input:focus{
    border:1px solid #fc9639;
    box-shadow:0 0 4px #fc9639
}
.anotheroption ul,.anotheroption ul li{
    display:block;
    overflow:hidden
}
.anotheroption ul li{
    padding:10px 0 0
}
.anotheroption ul li i{
    display:inline-block;
    vertical-align:middle;
    margin:0 4px 2px 0
}
.anotheroption ul li label{
    display:block;
    overflow:hidden;
    color:#333;
    cursor:pointer
}
.anotheroption li label.active i,.deli-address .latch-order label span.active i.cartnew-select{
    background-position:-101px 0
}
.anotheroption li form{
    border:1px solid #288ad6;
    padding:10px 10px 3px;
    border-radius:4px;
    background:#f6f6f6;
    margin:10px 0 0;
    position:relative
}
.anotheroption li .infouser.active{
    display:block
}
.infouser__inputs-container:after{
    content:"";
    display:table;
    clear:both
}
.anotheroption .infophoneanother .phoneanother.active,.anotheroption li .infocompany.active{
    display:block
}
.anotheroption li form:before{
    content:"";
    width:8px;
    height:8px;
    border-top:1px solid #288ad6;
    border-left:1px solid #288ad6;
    background:#f6f6f6;
    transform:rotate(45deg);
    position:absolute;
    top:-5px;
    left:50px
}
.anotheroption li form .cough{
    display:block;
    overflow:hidden;
    padding:0 0 10px
}
.anotheroption form .cough span{
    color: #000;
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
    cursor:pointer
}
.anotheroption form span.active i{
    background-position:0 0
}
.anotheroption form .cough small{
    display:inline-block;
    vertical-align:middle;
    font-size:12px;
    color:#dd4b39
}
.anotheroption form .fillinput{
    overflow:hidden;
    margin-right:5px
}
.anotheroption form .fillinput.halfwidth{
    width:49%;
    display:inline-block
}
.anotheroption form .fillinput.halfwidth.left{
    float:left
}
.anotheroption form .fillinput small.error{
    display:block;
    overflow:hidden;
    color:#dd4b39;
    margin-left:3px;
    margin-bottom:7px
}
.finaltotal{
    display:block;
    overflow:visible;
    padding:20px 30px;
    position:relative
}
.finaltotal .total-feedeli{
    display:block;
    overflow:hidden
}
.finaltotal .total-feedeli span{
    float:left;
    color:#333
}
.finaltotal .total-feedeli span:nth-child(2){
    float:right
}
.finaltotal .totalmoney{
    display:block;
    overflow:hidden;
    padding:10px 0
}
.finaltotal .totalmoney strong{
    float:left;
    color:#333
}
.finaltotal .totalmoney strong:nth-child(2){
    float:right;
    color:#f30c28
}
.finaltotal button.submitorder{
    display:block;
    overflow:hidden;
    color:#fff;
    text-align:center;
    height:50px;
    margin:10px auto;
    width:100%;
    border-radius:4px;
    border:0;
    cursor:pointer;
    background:linear-gradient( to right, #25aae1, #4481eb, #04befe, #3f86ed )
}
.finaltotal small{
    color:#666;
    font-size:12px;
    text-align:center
}
.finaltotal small{
    display:block;
    overflow:hidden
}

.listing-cart .change-promo span{
    color:#f30c28
}
.listing-cart .change-promo .select-promo{
    display:block;
    overflow:hidden
}
.listing-cart .change-promo .select-promo strong{
    display:block;
    overflow:hidden;
    padding:5px 0 0;
    font-size:12px;
    color:#666;
    font-weight:400;
    cursor:pointer
}
.listing-cart .change-promo strong i{
    float:left;
    margin:2px 5px 0 0
}
.listing-cart .change-promo strong.active i{
    background-position:0 0
}


.error .choosenumber{
    border:1px solid #f30c28
}
.listing-cart .alert-error{
    overflow:hidden;
    text-align:left;
    color:#ff1212;
    font-size:13px;
    padding:10px 0;
    width:auto;
    display:block;
    margin-left:95px
}
.error-order ul li strong{
    display:block;
    overflow:hidden;
    font-weight:400;
    font-size:12px;
    padding:0 0 10px
}
.error-order li strong b{
    color:#f30c28
}
.error-order .reduce-number{
    display:block;
    overflow:hidden;
    padding:10px
}
.error-order .choosenumber .minus i{
    background-color:#288ad6
}
.error-order .choosenumber .plus i{
    background-color:#ccc
}
.error-order .reduce-number span{
    float:right;
    color:#f30c28;
    padding:6px 10px 0 0;
    font-size:13px
}
.error-order .del-product{
    background-color:#f30c28
}
.error-order .btn-update-to-remaning-quantity,.error-order .del-product{
    display:block;
    overflow:hidden;
    text-align:center;
    border-radius:3px;
    padding:5px;
    width:200px;
    margin:10px auto;
    color:#fff;
    border:0;
    font-size:13px;
    cursor:pointer
}
.error-order .btn-update-to-remaning-quantity{
    background-color:#e70000
}
.finaltotal .disable{
    background:#a9a9a9!important
}

.cartempty{
    margin-top:100px
}
.cartempty,.cartempty i{
    display:block;
    overflow:hidden
}
.cartempty i{
    margin:auto
}
.cartempty .backhome,.cartempty span{
    display:block;
    overflow:hidden;
    text-align:center;
    padding:10px
}
.cartempty .backhome{
    text-transform:uppercase;
    font-weight:600;
    border-radius:4px;
    border:1px solid #288ad6;
    margin:0 10px;
    color:#288ad6
}
.cartempty p{
    display:block;
    overflow:hidden;
    padding:10px;
    text-align:center
}
.cartempty p a{
    color:#288ad6
}
.footCart{
    display:block;
    overflow:hidden;
    color:#999;
    font-size:11px;
    text-align:center;
    padding:20px 0
}
.footCart span{
    cursor:pointer
}

.infor-customer .form-customer,.texterror{
    display:block!important
}
.listing-cart .product-item .morecolor .listColor.hasError{
    border:1px solid #dd4b39
}
.listing-cart .product-item .morecolor .listColor.hasError:before{
    border-top:1px solid #dd4b39;
    border-right:1px solid #dd4b39
}
.choosegetgoods .deli-address .text-address i.active{
    background-position:0 0!important
}
.choosegetgoods .deli-address .text-address i:not(.active){
    background-position:-19px 0!important
}
.choosegetgoods .deli-address form{
    display:block!important
}


.cate-printing-ink-note{
    padding:10px 20px
}
.cate-printing-ink-note__message{
    border-radius:4px;
    border:1px dashed #f6a623;
    background:#fff4de;
    margin:0 10px;
    padding:15px 10px
}
.capitalize{
    text-transform:capitalize
}
.capitalize::-moz-placeholder{
    text-transform:none
}
.capitalize:-ms-input-placeholder{
    text-transform:none
}
.capitalize::placeholder{
    text-transform:none
}


img{
    border:0
}
a{
    text-decoration:none
}
ol,ul{
    list-style:none
}
.clr{
    clear:both
}
body{
    background:#f0f0f0;
    position:relative
}
body,button,h1,h1 a,h2,h2 a,h3,h3 a,h4,h4 a,h5,h5 a,h6,h6 a,input,label,legend,option,select,textarea{
    font:14px/18px Arial,Helvetica,sans-serif;
    color:#333;
    outline:none
}
body.no-scroll{
    overflow:hidden
}
p{
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    text-rendering:geometricPrecision}
input[type=tel],input[type=text],textarea{
    -webkit-appearance:none}[class*=cartnew-],[class^=cartnew-]{
    background-image:url(https://cdn.tgdd.vn/mwgcart/vue-pro/css/img/cart-mobile-1.png);
    background-repeat:no-repeat;
    display:inline-block;
    height:30px;
    width:30px;
    line-height:30px;
    vertical-align:middle;
    background-size:133px 305px}
i.cartnew-select.active{
    background-position:-101px 0
}
section{
    display:block;
    width:100%;
    max-width:600px;
    margin:auto;
    min-width:0
}
.cartnew-select{
    background-position:-80px 0;
    width:17px;
    height:16px
}
.cartnew-discount{
    background-position:0 -158px;
    width:18px;
    height:13px
}
.cartnew-question{
    background-position:-61px 0;
    width:14px;
    height:14px
}
.cartnew-choose{
    background-position:-19px 0;
    width:14px;
    height:14px
}
.cartnew-success{
    background-position:0 -20px;
    width:41px;
    height:49px
}
.cartnew-atm{
    background-position:0 -73px;
    width:38px;
    height:20px;
    margin-left:10px
}
.cartnew-visa{
    background-position:-43px -74px;
    width:23px;
    height:18px
}
.cartnew-mastercard{
    background-position:-70px -74px;
    width:23px;
    height:18px
}
.cartnew-jcb{
    background-position:-98px -74px;
    width:23px;
    height:18px
}
.cartnew-qrcode{
    background-position:-95px -25px;
    width:30px;
    height:30px
}
.cartnew-empty{
    background-position:0 -98px;
    width:70px;
    height:55px
}

.cartnew-search{
    background-position:-77px -121px;
    width:16px;
    height:16px
}
.box-order{
    display:block;
    border:1px solid #d1d1d1;
    background:#fff;
    border-radius:4px;
    margin-bottom:10px
}
.box-order .rowtime{
    float:left;
    width:100%;
    box-sizing:border-box;
    padding:10px 10px 5px
}
.box-order .rowtime.empty{
    display:none
}
.box-order .rowtime span{
    float:left;
    color:#333;
    width:63%;
    font-size:13px
}
.box-order .rowtime span:nth-child(2){
    float:right;
    color:#288ad6;
    width:auto;
    text-align:right;
    cursor:pointer
}
.box-order .choose-time{
    padding:0 10px
}
.box-order .choose-time.active{
    display:block
}
.box-order .choose-time .timeline{
    float:left;
    width:49%;
    margin:0 1% 2% 0;
    position:relative
}
.tab-2 .box-order .choose-time .timeline{
    width:100%
}
.box-order .choose-time .timeline:nth-child(2){
    float:right;
    margin-right:0
}
.box-order .choose-time .timeline button{
    display:block;
    background:#fff;
    border:1px solid #d1d1d1;
    color:#288ad6;
    border-radius:4px;
    padding:10px;
    width:100%;
    position:relative;
    text-align:left;
    cursor:pointer
}
.box-order .choose-time .timeline button.disable{
    background:#e5e8e8
}
.box-order .choose-time .timeline button:after{
    content:"";
    border-top:6px solid #288ad6;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    position:absolute;
    right:10px;
    top:18px
}
.box-order .choose-time .timeline button.active:after{
    transform:rotate(180deg)
}
.box-order .choose-time .timeline .selecttime{
    position:absolute;
    right:0;
    left:0;
    top:45px;
    border:1px solid #cacaca;
    background:#fff;
    z-index:1;
    border-radius:4px;
    max-height:116px;
    overflow-y:scroll
}
.box-order .choose-time .timeline.active .selecttime{
    visibility:visible
}
.box-order .timeline .selecttime span{
    display:block;
    padding:10px;
    color:#288ad6;
    cursor:pointer
}
.box-order .timeline .selecttime span.active{
    background:#288ad6;
    color:#fff
}
.box-order .note{
    display:block;
    overflow:hidden;
    padding:0 10px 10px;
    color:#f30c28;
    font-size:12px;
    margin-top:-10px
}
.box-order ul{
    display:block;
    overflow:hidden;
    padding:0 10px
}
.box-order ul li{
    display:block;
    overflow:hidden;
    padding:10px 0;
    border-bottom:1px solid #e6e6e6
}
.box-order ul li:last-child{
    border:0
}
.box-order li .img-order{
    float:left;
    width:11%
}
.box-order li .img-order img{
    display:block;
    overflow:hidden;
    width:40px
}
.box-order li .text-order{
    display:block;
    overflow:hidden;
    margin-left:10px
}
.box-order li .text-order span{
    display:block;
    overflow:hidden;
    font-size:12px;
    color:#333;
    -webkit-line-clamp:1;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    white-space:nowrap
}
.box-order li .text-order .amount-color{
    display:block;
    overflow:hidden
}
.box-order li .amount-color small{
    display:inline-block;
    margin-right:15px;
    color:#666;
    font-size:11px
}
.box-order .lastrow{
    display:block;
    overflow:hidden;
    margin:0 10px;
    padding-bottom:10px
}
.box-order .lastrow .freefee{
    font-size:14px;
    color:#10a702
}
.box-order .lastrow small{
    float:left;
    font-size:12px
}
.box-order .lastrow small:nth-child(2){
    float:right;
    color:#f30c28
}
.box-order .lastrow small.textnote{
    float:unset;
    display:block;
    color:#666}#tab-3 .box-order{
    margin-bottom:0!important
}
.choosenumber{
    float:right;
    overflow:hidden;
    position:relative;
    width:100px;
    border:1px solid #dfdfdf;
    background:#fff;
    border-radius:3px;
    line-height:30px;
    font-size:14px;
    color:#333
}
.choosenumber .minus{
    float:left;
    border-right:1px solid #dfdfdf;
    background:#fff;
    width:32%;
    height:30px;
    position:relative;
    pointer-events:none;
    cursor:pointer
}
.choosenumber .minus i{
    width:12px;
    height:2px;
    background:#ccc;
    display:block;
    margin:14px auto
}
.choosenumber .input-qty{
    font-size:14px;
    color:#333;
    float:left;
    width:33%;
    height:30px;
    text-align:center;
    background-color:#fff;
    height:2.2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.choosenumber .plus{
    float:right;
    border-left:1px solid #dfdfdf;
    background:#fff;
    width:32%;
    height:30px;
    position:relative;
    cursor:pointer
}
.choosenumber .plus i:first-child{
    width:12px;
    height:2px;
    background:#288ad6;
    display:block;
    margin:14px auto
}
.choosenumber .plus i:nth-child(2){
    width:2px;
    height:12px;
    background:#288ad6;
    display:block;
    margin:0 auto;
    position:absolute;
    top:9px;
    left:0;
    right:0
}
.middleCart{
    display:block;
    background:#fff;
    box-shadow:0 0 18px rgba(0,0,0,.12);
    border-radius:2px
}
.hide{
    display:none!important
}
.error{
    color:#dd4b39!important
}
.circle{
    height:100%;
    position:absolute;
    right:48px;
    width:1px
}
.circle:after,.circle:before{
    content:"";
    height:4px;
    left:-5.5px;
    position:absolute;
    width:8px
}
.circle:before{
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    top:-1px
}
.circle:after{
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    bottom:-1px
}

.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}