@media(min-width:768px) {
    .lead {
    font-size:21px
    }
}
ol,ul {
    margin-top:0;
    margin-bottom:10px
}
ol ol,ol ul,ul ol,ul ul {
    margin-bottom:0
}

/*table*/
table {
    background-color:transparent
}
caption {
    padding-top:8px;
    padding-bottom:8px;
    color:#777;
    text-align:left
}
th {
    text-align:left
}
.table {
    width:100%;
    max-width:100%;
    margin-bottom:20px
}
.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th {
    padding:8px;
    line-height:1.42857143;
    vertical-align:top;
    border-top:1px solid #ddd
}
.table>thead>tr>th {
    vertical-align:bottom;
    border-bottom:2px solid #ddd
}
.table>caption+thead>tr:first-child>td,.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>td,.table>thead:first-child>tr:first-child>th {
    border-top:0
}
.table>tbody+tbody {
    border-top:2px solid #ddd
}
.table .table {
    background-color:#fff
}
.table-bordered {
    border:1px solid #ddd
}
.table-bordered>tbody>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>thead>tr>th {
    border:1px solid #ddd
}
.table-bordered>thead>tr>td,.table-bordered>thead>tr>th {
    border-bottom-width:2px
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color:#f9f9f9
}
.table-responsive {
    min-height:.01%;
    overflow-x:auto
}
@media screen and (max-width:767px) {
    .table-responsive {
        width:100%;
        margin-bottom:15px;
        overflow-y:hidden;
        -ms-overflow-style:-ms-autohiding-scrollbar;
        border:1px solid #ddd
    }
    .table-responsive>.table {
        margin-bottom:0
    }
    .table-responsive>.table>tbody>tr>td,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tfoot>tr>td,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>thead>tr>th {
        white-space:nowrap
    }
    .table-responsive>.table-bordered {
        border:0
    }
    .table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>thead>tr>th:first-child {
        border-left:0
    }
    .table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>thead>tr>th:last-child {
        border-right:0
    }
    .table-responsive>.table-bordered>tbody>tr:last-child>td,.table-responsive>.table-bordered>tbody>tr:last-child>th,.table-responsive>.table-bordered>tfoot>tr:last-child>td,.table-responsive>.table-bordered>tfoot>tr:last-child>th {
        border-bottom:0
    }
}

.form-control {
    display:block;
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.form-control:focus {
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
.form-control::-moz-placeholder {
    color:#999;
    opacity:1
}
.form-control:-ms-input-placeholder {
    color:#999
}
.form-control::-webkit-input-placeholder {
    color:#999
}
.form-control::-ms-expand {
    background-color:transparent;
    border:0
}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
    background-color:#eee;
    opacity:1
}
.form-control[disabled],fieldset[disabled] .form-control {
    cursor:not-allowed
}
textarea.form-control {
    height:auto
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type=date].form-control,input[type=time].form-control,input[type=datetime-local].form-control,input[type=month].form-control {
        line-height:34px
    }
    .input-group-sm input[type=date],.input-group-sm input[type=time],.input-group-sm input[type=datetime-local],.input-group-sm input[type=month],input[type=date].input-sm,input[type=time].input-sm,input[type=datetime-local].input-sm,input[type=month].input-sm {
        line-height:30px
    }
    .input-group-lg input[type=date],.input-group-lg input[type=time],.input-group-lg input[type=datetime-local],.input-group-lg input[type=month],input[type=date].input-lg,input[type=time].input-lg,input[type=datetime-local].input-lg,input[type=month].input-lg {
        line-height:46px
    }
}

.radio {
    position:relative;
    display:block;
    margin-top:10px;
    margin-bottom:10px
}
label,.radio label {
    min-height:20px;
    padding-left:20px;
    margin-bottom:0;
    font-weight:400;
    cursor:pointer
}
input[type=checkbox],.radio input[type=radio],.radio-inline input[type=radio] {
    position:absolute;
    margin-top:4px\9;
    margin-left:-20px
}
.radio+.radio {
    margin-top:-5px
}
.radio-inline {
    position:relative;
    display:inline-block;
    padding-left:20px;
    margin-bottom:0;
    font-weight:400;
    vertical-align:middle;
    cursor:pointer
}
.radio-inline+.radio-inline {
    margin-top:0;
    margin-left:10px
}
fieldset[disabled] input[type=checkbox],fieldset[disabled] input[type=radio],input[type=checkbox].disabled,input[type=checkbox][disabled],input[type=radio].disabled,input[type=radio][disabled] {
    cursor:not-allowed
}
.radio-inline.disabled,fieldset[disabled] -inline,fieldset[disabled] .radio-inline {
    cursor:not-allowed
}
.disabled label,.radio.disabled label,fieldset[disabled]  label,fieldset[disabled] .radio label {
    cursor:not-allowed
}

select.input-sm {
    height:30px;
    line-height:30px
}
select[multiple].input-sm,textarea.input-sm {
    height:auto
}

.input-lg {
    height:46px;
    padding:10px 16px;
    font-size:18px;
    line-height:1.3333333;
    border-radius:6px
}
select.input-lg {
    height:46px;
    line-height:46px
}
select[multiple].input-lg,textarea.input-lg {
    height:auto
}

input[type=button].btn-block,input[type=reset].btn-block,input[type=submit].btn-block {
    width:100%
}
.fade {
    opacity:0;
    -webkit-transition:opacity .15s linear;
    -o-transition:opacity .15s linear;
    transition:opacity .15s linear
}
.fade.in {
    opacity:1
}
.collapse {
    display:none
}
.collapse.in {
    display:block
}
tr.collapse.in {
    display:table-row
}
tbody.collapse.in {
    display:table-row-group
}

.close {
    float:right;
    font-size:34px;
    font-weight:700;
    line-height:1;
    color:#fff;
    text-shadow:0 2px 0 #000;
    filter:alpha(opacity=20);
}
.close:focus,.close:hover {
    color:#000;
    text-decoration:none;
    cursor:pointer;
    filter:alpha(opacity=50);
    opacity:.5
}
button.close {
    -webkit-appearance:none;
    padding:0;
    cursor:pointer;
    background:0 0;
    border:0
}

.modal-open {
    overflow:hidden
}
.modal {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1050;
    display:none;
    overflow:hidden;
    -webkit-overflow-scrolling:touch;
    outline:0
}
.modal.fade .modal-dialog {
    -webkit-transition:-webkit-transform .3s ease-out;
    -o-transition:-o-transform .3s ease-out;
    transition:transform .3s ease-out;
    -webkit-transform:translate(0,-25%);
    -ms-transform:translate(0,-25%);
    -o-transform:translate(0,-25%);
    transform:translate(0,-25%)
}
.modal.in .modal-dialog {
    -webkit-transform:translate(0,0);
    -ms-transform:translate(0,0);
    -o-transform:translate(0,0);
    transform:translate(0,0)
}
.modal-open .modal {
    overflow-x:hidden;
    overflow-y:auto
}
.modal-dialog {
    position:relative;
    width:auto;
    margin:10px
}
.modal-content {
    position:relative;
    background-color:#fff;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    border:1px solid #999;
    border:1px solid rgba(0,0,0,.2);
    border-radius:6px;
    outline:0;
    -webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);
    box-shadow:0 3px 9px rgba(0,0,0,.5)
}
.modal-backdrop {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1040;
    background-color:#000
}
.modal-backdrop.fade {
    filter:alpha(opacity=0);
    opacity:0
}
.modal-backdrop.in {
    filter:alpha(opacity=50);
    opacity:.5
}
.modal-header {
    text-align: center;
    padding:15px;
    border-bottom:1px solid #e5e5e5;
    background-image: linear-gradient( to right, #25aae1, #4481eb, #04befe, #3f86ed );
    box-shadow: 0 4px 15px 0 rgb(65 132 234 / 75%);
}
.modal-header .close {
    margin-top:-2px
}
.modal-title {
    font-size: 24px;
    font-weight: 600;
    margin:0;
    line-height:1.42857143
}
.modal-body {
    position:relative;
    padding:15px
}
.modal-footer {
    padding:15px;
    text-align:right;
    border-top:1px solid #e5e5e5
}
.modal-footer .btn+.btn {
    margin-bottom:0;
    margin-left:5px
}
.modal-footer .btn-group .btn+.btn {
    margin-left:-1px
}
.modal-footer .btn-block+.btn-block {
    margin-left:0
}
.modal-scrollbar-measure {
    position:absolute;
    top:-9999px;
    width:50px;
    height:50px;
    overflow:scroll
}
@media(min-width:768px) {
    .modal-dialog {
        width:600px;
        margin:30px auto
    }
    .modal-content {
        -webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
        box-shadow:0 5px 15px rgba(0,0,0,.5)
    }
    .modal-sm {
        width:300px
    }
}
@media(min-width:992px) {
    .modal-lg {
        width:900px
    }
}
.hidden {
    display:none!important
}
@media print {
    .hidden-print {
        display:none!important
    }
}
