.card{
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    -webkit-box-shadow:0 0 3px 0 #dee2e6;
    box-shadow:0 0 3px 0 #dee2e6;   
    border-radius:6px
}
.card>hr{
    margin-right:0;
    margin-left:0
}
.card>.list-group:first-child .list-group-item:first-child{
    border-top-left-radius:4px;
    border-top-right-radius:4px
}
.card>.list-group:last-child .list-group-item:last-child{
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px
}
.card-body{
    -webkit-box-flex:1;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    padding:15px
}
.card-title{
    font-size:17px;
    line-height:17px;
    font-weight:500;
    margin-bottom:10px
}
.card-subtitle{
    font-size:14px;
    line-height:17px;
    font-weight:500;
    margin-top:-4.5px;
    margin-bottom:8px
}

.card-header{    
    padding:15px;    
    margin-bottom:0;    
    background-color:#fff;    
    border-radius:6px;    
    border-bottom:1px solid rgba(0,0,0,.125)
}
.card-header:first-child{    
    border-top-left-radius:6px;    
    border-top-right-radius:6px
}
.card-header+.list-group .list-group-item:first-child{    
    border-top:0
}
.card-img{    
    width:100%;    
    border-radius:3px
}
.card-img-top{ 
    width:100%;   
    border-top-left-radius:3px;  
    border-top-right-radius:3px
}
.card-img-bottom{
    width:100%; 
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px
}
.fpheadbox .card-header{
    border-bottom:none
}
.fpheadbox .card-header+.cdt-brand-pd:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    border-top:1px solid #e9ecef
}
.card:last-child .card-body{
    padding:20px 0 10px
}
.card:last-child .card-body .cdt-product-wrapper .cdt-product__show-promo .strike-price{
    font-size:11px;
    font-weight:400;
    line-height:normal;
    color:#a7a7b1
}
.card:last-child .card-body .cdt-product-wrapper .cdt-product__show-promo .strike-price strong{
    font-size:13px;
    font-weight:700;
    line-height:.9;
    color:#4a4a4a;
    margin-left:4px
}
.card:last-child .card-body .cdt-product-wrapper .cdt-product__show-promo .strike-price strong i{
    font-style:normal;
    font-weight:400
}