* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #25845B;
    text-align: center;
    width: 100%;
}

a {
    text-decoration: none;
}

/* ------------ header top ---------------- */

.header {
    background-color: #000;
    width: 100%;
}

.header_top{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

div{
    color: #fff;
}

a {
    color: #fff;
    font-size: 14px;
}

.icon_logo {
    background-position: 0 0;
    height: 24px;
    width: 141px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 7px;
}

.header_address{
    color: yellow;
}

.fa-map-marker-alt{
    display: none;
}

.fa-sort-down {
    font-size: 18px;
    padding-bottom: 2px;
    margin-left: 5px;
}

.header_top .header_search{
    position: relative;
    display: flex;
}

div.header_search{
    position: relative;
    width: 25%;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    align-items: center;
}

.header_top .header_search .input{
    border: none;
    font-size: 12px;
    line-height: 14px;
    height: 30px;
    padding: 8px 8px 8px 13px;
    width: 100%;
    border-radius: 4px;
    outline:none;
}

div .icon-search{
    color: black;
    line-height: 30px;
    margin-right: 6px;
    cursor: pointer;
}

.header_shoppingcart {
    padding: 5px 8px;
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: 1px solid rgb(233, 229, 229);
    border-radius: 5px;
}

.header_shoppingcart:hover {
    background-color: rgb(112, 111, 111);
}

.header_history {
    margin: 4px 0px;
    text-align: center;
}

.header_history:hover {
    color: yellow;
}

.header_ad {
    color: yellow;
    text-align: start;
}

.dot_content {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(194, 194, 8);
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

.dot_animation {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: yellow;
    animation: dot 1s linear infinite;
    pointer-events: none;
}

@keyframes dot {
    from {
        opacity: 0.4;
    }
    to {
        transform: scale(3);
        opacity: 0;
    }
}

.header_new:hover{
    color: yellow;
}

.header_QA {
    margin-right: 7px;
}

.header_QA:hover {
    color: yellow;
}

#header_menu{
    display: none;
    font-size: 14px;
}

/* ------------ header top ---------------- */

/* ------------ header main ---------------- */

.header_main {
    background-color: #CD1918
}

.header_main>div {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.main-menu {
    display: flex;
   justify-content: space-between;  
    margin: 0 -10px;
}

ul {
    list-style: none;
}

svg:not(:root) {
    margin-right: 6px;
    font-size: 18px;
}

.main-menu>li>a {
    font-size: 16px;
}

.main-menu>li {
    padding: 12px;
}

.main-menu:hover>li {
    opacity: 0.2;
}
.main-menu>li:hover{
    z-index: 10;
    background: #ffffff;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color: #000;
    opacity: 1;
}
.main-menu>li:hover span {
    background: #fff;
    color: rgb(0, 0, 0);
}

.main-menu>li:hover svg {
    background: #fff;
    color: rgb(0, 0, 0);
}

.profile{
    display: none;
}

#divider {
    display: none;
}

.div_header {
    display: none;
}
/* ------------ header content ---------------- */
abbr,address,article,aside,audio,blockquote,body,body div,caption,cite,dd,del,details,dl,dt,em,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,span,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font-weight:400;
    vertical-align:baseline;
    background:0 0
}
ab{
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:0 0
}
ab{
    color:#0168fa;
    text-decoration:none;
    background-color:transparent;
    -webkit-text-decoration-skip:objects
}
ab,ab:active,ab:focus,ab:hover{
    outline:0;
    text-decoration:none;
    color:#000

}

b,i,small,strong{
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
    background:0 0
}
article,details,figure,footer,header,nav,section,summary{
    display:block
}
article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section{
    display:block
}
html{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
html{
    font-family:Roboto,Arial,Helvetica,sans-serif;
    line-height:1.15;
    font-size:62.5%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -ms-overflow-style:scrollbar;
    -webkit-tap-highlight-color:transparent
}

del{
    text-decoration:line-through
}
abbr[title],dfn[title]{
    border-bottom:1px dotted #000;
    cursor:help
}
hr{
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0
}
input,select{
    vertical-align:middle
}input[type=radio]{
    vertical-align:text-bottom
}
input[type=checkbox]{
    vertical-align:bottom
}
input,select,textarea{
    font:99% sans-serif
}
table{
    font-size:inherit
}
small{
    font-size:85%
}
strong{
    font-weight:700
}
td{
    vertical-align:top
}
button,input[type=button],input[type=file],input[type=submit],label{
    cursor:pointer
}
button,input,select,textarea{
    margin:0
}
button,input[type=button]{
    width:auto;
    overflow:visible
}
.clearfix:after,.clearfix:before{
    content:" ";
    display:block;
    height:0;
    overflow:hidden
}
.clearfix:after{
    clear:both
}
.clearfix{
    zoom:1
}
img{
    vertical-align:middle
}
img{
    max-width:100%
}


body{
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
    line-height:1.42857143;
    color:#000;
    position:relative;
    overflow-x:hidden
}
body{
    margin:0;
    font-family:Roboto,Helvetica,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:1.42857143;
    color:#212529;
    text-align:left;
    background-color:#fff
}

*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
*,::after,::before{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}


.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
    font-family:inherit;
    font-weight:700;
    color:inherit
}
.h1,h1{
    font-size:3.6rem
}
.h2,h2{
    font-size:3rem
}
.h3,h3{
    font-size:2.4rem
}
.h4,h4{
    font-size:2rem
}
.h5,h5{
    font-size:1.8rem
}
.h6,h6{
    font-size:1.6rem
}
.h1,h1{
    line-height:4.896rem
}
.h2,h2{
    line-height:4.08rem
}
.h3,h3{
    line-height:3.3rem
}
.h4,h4{
    line-height:2.7rem
}
.h5,h5{
    line-height:2.475rem
}
.h6,h6{
    line-height:1.6rem
}

.col-3,.col-9{
    position:relative;
    width:100%;
    min-height:1px;
    padding-right:1.5rem;
    padding-left:1.5rem
}
.col-9{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 94%;
    margin: auto;
}

.m-b-25{
    margin-bottom:25px;
    height: 35px;
}
.m-b-20{
    margin-bottom:20px
}
.m-b-30{
    margin-bottom:30px
}

.p-0{
    padding:0
}
.p-l-15{
    padding-left:15px
}
.p-t-15{
    padding-top:15px
}
.p-b-30{
    padding-bottom:30px
}
.p-r-15{
    padding-right:30px
}

.text-left{
    text-align:left!important
}
.text-right{
    text-align:right!important
}
.text-center{
    text-align:center!important
}

.intro-para,.para,.small-para,p{
    font-weight:400;
    color:inherit
}
.para,p{
    font-size:16px
}
.small-para{
    font-size:14px;
    line-height:20px
}
.text-white{
    color:#fff
}
hr{
    margin-top:1.5rem;
    margin-bottom:1.5rem;
    height:1px;
    border:0;
    border-top:1px solid rgba(0,0,0,.1)
}
.frow {
    vertical-align: bottom;
    font-size: 28px;
    font-weight: 700;
    font-family: inherit;
    line-height: 28px;
    color: #212529;
    margin-bottom: 0;
}
/* mobile: width <740px */
@media only screen and (max-width: 759px){

    a {
        font-size: 12px;
    }

    .header_banner .banner {
        content: url('Dong ho thong minh/Images/Dâydồnghồ.png');
        width: 100%;
        height: 60px;
    }
    .header {
        width: 100%;
        color: black;
    }

    .header_top {
        justify-content: space-between;
        padding-left: 7px;
        padding-right: 7px;
    }

    .icon_logo {
        order: -1;
        content: url('images/logo_small.png');
        height: 32px;
        width: 32px;
        padding-top: 2px;
        margin-right: 10px;
    }

    .header_address {
        margin-left: 10px;
        order: 1;
        display: flex;
        width: 22%;
    }
    
    .fa-map-marker-alt{
        display: block;
        margin-right: 5px;
    }

    svg:not(:root).fa-map-marker-alt {
        font-size: 13px;
    }

    .fa-sort-down {
        display: none;
    }

    .header_shoppingcart{
        order: 2;
        border: none;
        padding: 5px 5px;
    }  

    .fa-shopping-cart {
        font-size: 20px;
        margin: 0px 2px;
    }

    #content_shopping_cart_header {
        display: none;
    }

    .header_search {
        order: 0;
    }

    div.header_search {
        width: 28%;
    }

    .header_history {
        order: 1;
        display: flex;
    }

    .header_ad{
        display: none;
    }

    .header_new {
        display: none;
    }

    .header_QA {
        display: none;
    }

    #header_menu{
        display: block;
        margin: 0px 3px;
        cursor: pointer;
    }

    /*header main*/

    .header_main{
        background-color: #fff;
    }

    .main-menu {
        position: absolute;
        display: block;
        width: 70%;
        height: 86vh;
        background-color: rgb(43, 41, 41);
        padding: 0 13px;
        transition: all .5s;
        margin-left: -100%;
        z-index: 100;
    }

    div>ul.show{
        margin-left: 0;
    }

    .profile{
        margin: -13px;
        width: 100%;
        position: absolute;
        bottom: 10px;
        display: block;
        background: rgb(116, 113, 113);
    }

    #phone{
        color: #40b3ff;
    }

    #header_ad{
        display: block;
        font-size: 16px;
        margin-top: 15px;
        margin-left: 13px;
    }

    #header_QA {
        display: block;
    }

    #header_new{
        display: block;
    }

    hr#divider{
        margin-top: 15px;
        display: block;
        border: none;
        border-top: 2px solid;
    }

    .div_header {
        display:block;
        margin-top: 15px;
    }

    .ul_header {
        display: flex;
        justify-content:space-around;
    }

    li a span {
        font-size: 16px;
    }

    .fa-phone-volume {
        color: rgb(5, 73, 20);
    }

    .fa-facebook {
        color: rgb(14, 60, 189);
    }

    .m-b-30 {
        margin-bottom: 15px;
    }
    .p-l-15 {
        padding-left: 64%;
    }
    .text-right {

        width: 48%;
    }
    
}

/* tablet: width >= 740px and width <= 1024px */
@media only screen and (min-width: 760px) and (max-width: 1150px){

    .header_banner::content {
        width: 100%;
        height: 47px;
    }

    .header_top{
        width: 100%;
        padding: 2px 7px;
    }   

    .banner{
        width: 100%;
    }

    .icon_logo {
        order: -1;
        content: url('images/logo_small.png');
        height: 32px;
        width: 32px;
        padding-top: 2px;
        margin-right: 7px;
        margin-left: 10px;
    }

    div.header_search{
        position: relative;
        width: 22%;
    }

    #content_shopping_cart_header {
        display: none;
    }

    /*header main*/
    .main-menu{
        align-items: center;
        text-align: center;
        margin: 0 5px;
    }

    svg:not(:root) {
        display: none;
    }

    svg:not(:root).fa-shopping-cart{
        display: block;
    }
}