.icon-a-watch,.icon-cpu,.icon-ram,.icon-material,
.icon-display,.icon-hdd,.icon-battery-full,
.icon-laptop,.icon-vga,.icon-weight,
.icon-watch-strap,.icon-color {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
.icon-wattage,.icon-wind,.icon-fan-diameter,.icon-fan-wing,.icon-guarantee-time,
.icon-boiler-size,.icon-inner-boiler,.icon-boiler-material,.icon-water-bin,.icon-cooling-size,.icon-pot-size,.icon-users,.icon-rice-technology,
.icon-water-purifier,.icon-filter-technology,.icon-water-filter,.icon-filter-ratio,
.icon-juicer,.icon-juicer-capacity,.icon-blades,.icon-blender,.icon-blender-mill,.icon-mill-number,.icon-thermometer,.icon-adjust-time,.icon-heating-technology {
    height: 18px;
    width: 18px;
    margin-right: 5px;
}