body {
    background-color: #f3f3f3;
}

.fs-ctf-cl1 {
    background: transparent;
}

.fs-ctf-cl2 {
    background-color: #ffffff;
    margin-bottom: 20px;
}

.tab-pane {
    display: none;
}

    .tab-pane.active {
        display: block;
    }

.fs-wrap-list {
    text-align: center;
}

.fs-tgtopmn {
    margin: 0 -5px;
}

    .fs-tgtopmn li {
        float: left;
        width: 33.333%;
        padding: 0 5px;
    }

        .fs-tgtopmn li a {
            display: block;
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: #3d3d3d;
            text-transform: uppercase;
            border-bottom: 3px solid transparent;
        }

            .fs-tgtopmn li a:hover {
                font-weight: bold;
            }

        .fs-tgtopmn li.active a {
            font-weight: bold;
            border-bottom: 3px solid #d70a0a;
        }

.fs-tgtophd {
    border-bottom: 0;
}

.fs-wrap-list ul li.active::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #E1312B;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.fs-wrap-list ul li.active a {
    font-weight: 600;
}

.fs-tgchoose li a {
    position: relative;
    display: table;
    width: 100%;
    background-color: #fff;
    color: #d70a0a;
    padding: 10px 15px;
}

    .fs-tgchoose li a:before {
        content: "";
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        height: 100%;
        border-top: 35px solid transparent;
        border-bottom: 35px solid transparent;
        border-left: 8px solid #d70a0a;
    }

.fs-tgchoose li.active a:before {
    display: block;
}

.fs-tgchoose li.active a,
.fs-tgchoose li a:hover {
    background-color: #d70a0a;
    color: #fff;
}

.fs-tgchoose li a span {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
}

.fs-tgchoose li a h3 {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px 0 15px;
}

.fstg-hdss li {
    padding: 0 10px;
}

    .fstg-hdss li a {
        display: block;
        padding: 8px 0;
        color: #4a4a4a;
    }
/*end*/

.fstg-md .modal-dialog {
    width: 50%;
}

.fstg-md .modal-header .close {
    float: right;
    color: #b8b8b8;
    float: right;
    background: none;
    border: none;
    font-size: 18px;
}

.fstg-md .modal-title {
    font-size: 18px;
    font-weight: bold;
}

.ftg-tabs {
    display: table;
    width: 100%;
    margin-bottom: 15px;
}

    .ftg-tabs li {
        display: table-cell;
        vertical-align: top;
        text-align: center;
    }

        .ftg-tabs li a {
            display: block;
            height: 55px;
            line-height: 55px;
            text-align: center;
            background: #f2f2f2;
            font-size: 18px;
            color: #3d3d3d;
        }

        .ftg-tabs li.active a {
            color: #ffffff;
            font-weight: bold;
            background: #34495e;
        }
/*end*/

.tf-cnbox {
    display: table;
    width: 100%;
    margin: 15px 0;
}

.tf-cntbl {
    width: 35%;
    display: table-cell;
    vertical-align: middle;
}

.tf-cntb2 {
    width: 64.5%;
    border: 1px solid #dddddd;
    padding: 30px 0 0 40px;
    display: table-cell;
    vertical-align: top;
}


.tg-tabul {
    padding: 25px 0 30px 15px;
    background-color: #f2f2f2;
}

    .tg-tabul > li {
        padding: 0;
    }

        .tg-tabul > li > a > p {
            color: #34495e;
            font-size: 16px;
            position: relative;
            padding: 12px 25px 12px 0;
        }

            .tg-tabul > li > a > p > span {
                display: inline-block;
                float: left;
                margin: 0 10px;
                color: #FFFFFF;
                padding: 1px 7px;
                background: #34495e;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }

        .tg-tabul > li.active {
            background: #FFFFFF;
            position: relative;
            right: -1px;
        }

            .tg-tabul > li.active > a > p {
                color: #D41212;
            }

                .tg-tabul > li.active > a > p > span {
                    background: #D41212;
                }

                .tg-tabul > li.active > a > p:before {
                    content: "";
                    position: absolute;
                    top: 13px;
                    right: 8px;
                    display: inline-block;
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-left: 8px solid #D41212;
                }

.tg-tab-scroll {
    overflow: auto;
    max-height: 310px;
}

.tg-tab-itit {
    font-size: 18px;
    font-weight: bold;
    color: #D41212;
    text-transform: uppercase;
    margin: 10px 0;
}

.tg-tabrul {
    padding: 0 25px 0 10px;
}

    .tg-tabrul > li {
        margin-bottom: 5px;
        padding: 0;
    }

.tg-tab-tinfo {
    display: none;
    font-size: 16px;
    line-height: 25px;
    padding-right: 10px;
}

    .tg-tab-tinfo.active {
        display: block;
    }

.tg-tab-ulsel {
    width: 80px;
    display: table-cell;
    vertical-align: top;
    color: #D41212;
}

.tg-tab-ulifo {
    display: table-cell;
    vertical-align: top;
    position: relative;
}

.tg-tabr-iok {
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

    .tg-tabr-iok:before {
        content: '';
        position: absolute;
        top: 8px;
        left: 2px;
        display: inline-block;
        vertical-align: middle;
        border-color: #D41212;
        border-style: solid;
        border-width: 3px 3px 0 0;
        height: 6px;
        width: 12px;
        transform: rotate(135deg);
    }

.trg-tbnoti {
    margin-bottom: 30px;
}

    .trg-tbnoti table {
        width: 100%;
        max-width: 100%;
        border: 1px solid #ddd;
    }

        .trg-tbnoti table tr td {
            width: 20%;
            border: 1px solid #ddd;
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
        }

.trg-tdcter {
    text-align: center;
}

.trg-tdch {
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
}

    .trg-tdch:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 7px;
        left: 0;
        border-color: #46b932;
        border-style: solid;
        border-width: 2px 2px 0 0;
        height: 4px;
        width: 8px;
        transform: rotate(135deg);
    }

.trg-tbgth {
    font-size: 12px;
    color: #838383;
}
/* friends*/
.tg-tit {
    text-align: center;
    margin-bottom: 30px;
}

    .tg-tit span {
        font-size: 24px;
        font-weight: bold;
        color: #333333;
    }

.tg-des {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
}

.tg-item {
    margin: 0 -10px;
    padding: 20px 0;
}

    .tg-item li {
        float: left;
        width: 33.333%;
        padding: 0 10px;
    }

.tg-flgit {
    padding: 25px;
    color: #3b3b3b;
    text-align: center;
    background-color: #ffffff;
}

.tg-flgtit {
    font-size: 22px;
    font-weight: bold;
    color: #3b3b3b;
}

.tg-flgimg {
    margin-bottom: 25px;
}

.tg-flgdk {
    text-align: center;
}

.tg-bnlink {
    display: inline-block;
    margin-bottom: 15px;
    padding: 0px 80px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #d0021b;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-top: 10px;
}

    .tg-bnlink:hover {
        color: #d0021b;
        background-color: #fff;
        border: 1px solid #d0021b;
    }

.tg4-pop-htit {
    color: #232323;
    font-size: 18px;
    font-weight: bold;
}

.tg4-pop-header .close {
    color: #949494;
    font-size: 22px;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    position: absolute;
    right: 15px;
    top: 15px;
}

.tg4-pop-main {
    padding: 20px 0;
    color: #232323;
    position: relative;
}

.tg-pop-mleft {
    width: 330px;
    float: left;
    max-height: 500px;
    overflow: auto;
}

.tg-pop-mright {
    margin-left: 330px;
    padding: 0 10px 0 25px;
    max-height: 500px;
    overflow: auto;
}

.tg-pop-mlul {
    padding-bottom: 40px;
}

    .tg-pop-mlul li a {
        display: table;
        width: 100%;
        padding: 10px 0;
    }

    .tg-pop-mlul li.active a {
        background-color: #e4effa;
    }

    .tg-pop-mlul li a:hover,
    .tg-pop-mlul li a:active,
    .tg-pop-mlul li a:focus {
        background-color: #e4effa;
    }

.tg-pop-mlimg {
    display: table-cell;
    vertical-align: middle;
    width: 140px;
    text-align: center;
}

    .tg-pop-mlimg span {
        line-height: 59px;
        display: inline-block;
        width: 100px;
        height: 59px;
        border: solid 1px #efefef;
    }

.tg-pop-mltxt {
    display: table-cell;
    vertical-align: middle;
    color: #232323;
    font-size: 13px;
    line-height: 1.4;
}

.tg-pop-mrtit {
    font-size: 14px;
}

.tg-pop-mrtxt {
    font-size: 24px;
    margin: 3px 0 12px;
}

.tg-pop-briul li {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.tg-pop-brinum {
    display: table-cell;
    vertical-align: top;
    width: 30px;
}

    .tg-pop-brinum span {
        display: inline-block;
        width: 23px;
        height: 23px;
        text-align: center;
        line-height: 23px;
        border: solid 1px #949494;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
    }

.tg-pop-brifo {
    display: table-cell;
    vertical-align: top;
}

.tg-pop-britit {
    font-weight: bold;
    margin-bottom: 3px;
}

.tg-pop-britxt {
    color: #414141;
}

    .tg-pop-britxt span {
        color: #d71717;
    }

.tgtab-pane {
    display: none;
}

    .tgtab-pane.active {
        display: block;
    }



.tg-type1 {
    display: block;
}

.tg-type2 {
    display: none;
}

    .add-new-tg a.active {
        background-color: #d70a0a;
        color: #fff;
    }

.viewgrid .fs-lapitem {
    width: 301px;
}

.f-cmtpaging2 {
    border-top: 1px solid #e3e3e3;
    padding: 20px 0 0;
    margin: 20px 0 10px;
    text-align: center;
}


    .f-cmtpaging2 .f-cmtpg-f,
    .f-cmtpaging2 .f-cmtpg-l,
    .f-cmtpaging2 ul li a {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        padding: 6px 12px;
        color: #18487a;
        background: #f9f9f9;
    }

    .f-cmtpaging2 .f-cmtpg-l {
        margin-left: 3px;
        border: 1px solid #bbbbbb;
    }

/* --------- mobile------------ */
@media only screen and (max-width: 759px) {
    .fs-tgtopmn li {
        padding: 0 4px;
    }
}